:root {
  --backgroundColorAlbumHover: #1a1a1a;
  --backgroundColorHover: #282828;
  --backgroundColorPrimary: #121212;
  --textPrimary: #ffffff;
  --textSecundary: #9f9f9f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backgroundColorHover);
  color: var(--textPrimary);
  display: flex;
  font-family: "Nunito", sans-serif;
  justify-content: center;
  padding: 20px;
}

.main-container {
  background-image: linear-gradient(
    to top,
    var(--backgroundColorPrimary) 80%,
    #1c436c
  );
  border-radius: 8px;
  padding: 20px;
  width: 1024px;
}

header {
  margin-bottom: 20px;
}

.main-container__title {
  font-size: 6rem;
  font-weight: 900;
  text-align: left;
}

.songs-table {
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%;
}

.songs-table caption {
  caption-side: top;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.songs-table td {
  padding: 10px;
}

.songs-table__duration {
  width: 80px;
}

.songs-table__position {
  color: var(--textSecundary);
  text-align: left;
  width: 50px;
}

.songs-table__counter {
  color: var(--textSecundary);
}

.songs-table tr:hover td {
  background-color: var(--backgroundColorHover);
  color: var(--textPrimary);
}

.songs-table__img,
.songs-grid__img {
  border-radius: 5%;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
  width: 40px;
}

.songs-grid {
  display: grid;
  grid-template-columns: 50px 1fr 247.8px 80px;
}

.songs-grid .songs-grid__item {
  display: contents;
}

.songs-grid__item p,
.songs-grid__item figure {
  display: flex;
  align-items: center;
  padding: 10px;
}

.songs-grid__position {
  text-align: right;
}

.songs-grid__position,
.songs-grid__counter{
  color: var(--textSecundary);
}

.songs-grid__item:hover * {
  background-color: var(--backgroundColorHover);
  color: var(--textPrimary);
}

.album-flexbox {
  display: flex;
  margin-top: 10px;
}

.album-flexbox__item {
  background-color: var(--backgroundColorPrimary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  width: 188.8px;
}

.album-flexbox__item:hover {
  background-color: var(--backgroundColorAlbumHover);
}

.album-flexbox__item {
  font-size: 1rem;
}

.album-flexbox__img {
  border-radius: 5%;
  height: 160px;
  text-align: center;
  width: 160px;
}

.album-flexbox__subtitle {
  color: #9f9f9f;
  font-size: 14px;
}

.main-container__subtitle {
  font-size: 2rem;
  margin-bottom: 10px;
}

.main-container__section {
  margin-bottom: 20px;
}
