:root {
  --backgroundColorAlbumHover: #1a1a1a;
  --backgroundColorHover: #282828;
  --backgroundColorPrimary: #121212;
  --textPrimary: #ffffff;
  --textSecundary: #9f9f9f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backgroundColorHover);
  color: var(--textPrimary);
  display: flex;
  font-family: "Nunito", sans-serif;
  justify-content: center;
  padding: 20px;
}

.container_main {
  background-image: linear-gradient(
    to top,
    var(--backgroundColorPrimary) 80%,
    #1c436c
  );
  border-radius: 8px;
  padding: 20px;
  width: 1024px;
}

header {
  margin-bottom: 20px;
}

.title_text {
  font-size: 6rem;
  font-weight: 900;
  text-align: left;
}

.popular-songs {
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%;
}

.popular-songs caption {
  caption-side: top;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.popular-songs td {
  padding: 10px 10px;
}

.song-duration {
  width: 80px;
}

.song-position {
  color: var(--textSecundary);
  text-align: left;
  width: 50px;
}

.play-counter {
  color: var(--textSecundary);
}

.popular-songs tr:hover td {
  background-color: var(--backgroundColorHover);
  color: var(--textPrimary);
}

.song-image {
  border-radius: 5%;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
  width: 40px;
}

.container-grid {
  display: grid;
  grid-template-columns: 50px 1fr 247.8px 80px;
}

.container-grid .grid-item {
  display: contents;
}

.grid-item p,
.grid-item span {
  display: flex;
  align-items: center;
  padding: 10px;
}

.song-position-grid {
  text-align: right;
}

.song-position-grid,
.play-counter-grid {
  color: var(--textSecundary);
}

.grid-item:hover p,
.grid-item:hover span {
  background-color: var(--backgroundColorHover);
  color: var(--textPrimary);
}

.container-flexbox {
  display: flex;
}

.flex-item {
  background-color: var(--backgroundColorPrimary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  width: 188.8px;
}

.flex-item:hover {
  background-color: var(--backgroundColorAlbumHover);
}

.flex-item {
  font-size: 1rem;
  margin-top: 10px;
}

.album-image {
  border-radius: 5%;
  height: 160px;
  text-align: center;
  width: 160px;
}

.text-album {
  color: #9f9f9f;
  font-size: 14px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

section {
  margin-bottom: 20px;
}
