* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bottom-primary-color-hover: #1558c8;
  --bottom-primary-color: #1a73e8;
  --font-size-16px: 16px;
  --font-size-18px: 18px;
  --group-label-height: 65px;
  --group-label-width: 90%;
  --group-width: 90%;
  --input-border-radius: 4px;
  --input-border-width: 1px;
  --font-family: "Roboto", sans-serif;
  --input-height: 40px;
  --input-margin-top: 5px;
  --input-padding: 0 16px;
  --input-width: 100%;
  --label-width: 100%;
  --main-width: 100%;
  --section-padding: 0 0 1em 0;
  --section-width: 90%;
}

body {
  background-color: #f8fafd;
  display: flex;
  font-family: var(--font-family);
  justify-content: center;
}

.contact-form {
  max-width: 1200px;
  min-width: 360px;
  padding: 20px;
  width: 100%;
}

.main-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: var(--main-width);
}

.section__icon {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  width: 40px;
}

.section__icon-img {
  height: 24px;
}

.section {
  display: flex;
  justify-content: center;
  padding: var(--section-padding);
  width: var(--section-width);
}

.long-input__direction {
  display: flex;
  flex-direction: column;
  width: var(--group-label-width);
}

.separation {
  gap: 0.5em;
}

.label-style {
  font-size: var(--font-size-16px);
  height: var(--group-label-height);
  width: var(--label-width);
}

.label-style::before {
  content: '';
  display: inline-block;
  width: 15px;
}

.input-select-style {
  border-radius: var(--input-border-radius);
  border-width: var(--input-border-width);
  font-family: var(--font-family);
  font-size: var(--font-size-18px);
  height: var(--input-height);
  margin-top: var(--input-margin-top);
  padding: var(--input-padding);
  width: var(--input-width);
}

.subsection-three-labels {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  width: var(--group-width);
}

.position-label-arrow {
  position: relative;
}

.section__custom-arrow {
  background-color: #ffffff;
  display: block;
  height: 35px;
  pointer-events: none;
  position: absolute;
  right: 2px;
  top: 25px;
  width: 2em;
}

.section__custom-arrow::before,
.section__custom-arrow::after {
  --size: 0.4em;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 0;
}

.section__custom-arrow::before {
  border-bottom: var(--size) solid #9d9d9d;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  top: 35%;
}

.section__custom-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid #9d9d9d;
  top: 65%;
}

.section__notes-textarea {
  padding: 5px 16px 5px 16px;
}

.note-height {
  height: 75px;
}
.save-button {
  display: flex;
  justify-content: right;
  padding-right: 5px;
  width: var(--section-width);
}

.save-button button {
  background-color: var(--bottom-primary-color);
  border-radius: 24px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  font-size: var(--font-size-16px);
  padding: 10px 24px;
}
/*
.save-button button:hover {
  background-color: var(--bottom-primary-color-hover);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
*/
.save-button button:disabled {
  background-color: #e4e4e4;
  border-radius: 24px;
  border: none;
  color: #9d9d9d;
  font-size: var(--font-size-16px);
  padding: 10px 24px;
}

@media (min-width: 600px) {
  .section {
    flex-wrap: wrap;
    padding: var(--section-padding);
  }

  .short-input__label {
    width: 20%;
  }

  .medium-input__label{
    width: 78%;
  }

  .save-button {
    padding-right: 1em;
  }
}

@media (min-width: 900px) {
  .main-container,
  .contact-form {
    padding: 30px;
  }

  .subsection-three-labels {
    align-items: center;
    flex-wrap: nowrap;
    gap: 1em;
    justify-content: space-between;
  }

  .large-input__label {
    width: 50%;
  }

  .short-input__label {
    width: 20%;
  }

  .save-button {
    padding-right: 1.5em;
  }
}

@media (min-width: 1200px) {

  .main-container {
    padding: 40px;
  }

  .medium-input__direction {
    flex-direction: row;
    gap: 1em;
  }

  .save-button {
    padding-right: 2em;
  }
}
