* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-width: 100%;
  --section-padding: 0 0 1em 0;
  --section-width: 90%;
  --group-width: 90%;
  --input-padding: 0 16px;
  --group-height: 60px;
  --group-label-width: 100%;
  --label-width: 90%;
  --group-label-height: 65px;
  --input-width: 100%;
  --input-height: 40px;
  --input-margin-top: 5px;
  --primary-color: #1a73e8;
  --primary-color-hover: #1558c8;
  --input-border-width: 1px;
  --input-border-radius: 4px;
  --label-font-size: 16px;
  --input-font-size: 18px;
  --input-font-family: "Roboto", sans-serif;
}

body {
  background-color: #f8fafd;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.contact-form {
  min-width: 360px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

.main-container {
  width: var(--main-width);
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.section__icon {
  width: 40px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.section__icon-img {
  height: 24px;
  filter: invert(20%) sepia(10%) saturate(500%) hue-rotate(190deg)
    brightness(80%) contrast(90%);
}

.section {
  display: flex;
  padding: var(--section-padding);
  width: var(--section-width);
  justify-content: center;
}

.section-group {
  display: flex;
  flex-direction: column;
  width: var(--group-width);
  gap: 0.5em;
}

.section-group__label {
  width: var(--group-label-width);
  height: var(--group-label-height);
  font-size: var(--label-font-size);
}

.section-group__input,
.section-email__input {
  width: var(--input-width);
  height: var(--input-height);
  padding: var(--input-padding);
  border-width: var(--input-border-width);
  border-radius: var(--input-border-radius);
  margin-top: var(--input-margin-top);
  font-size: var(--input-font-size);
  font-family: var(--input-font-family);
}

.section-email__label {
  display: flex;
  flex-direction: column;
  width: var(--label-width);
  height: var(--group-label-height);
  font-size: var(--label-font-size);
}

.section__country-phone {
  width: var(--group-width);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.section__country-label,
.section__label-label,
.section__number-label {
  width: var(--group-label-width);
  height: var(--group-label-height);
  position: relative;
  font-size: var(--label-font-size);
}

.section__country-select,
.section__number-input,
.section__label-select {
  width: var(--input-width);
  height: var(--input-height);
  border-width: var(--input-border-width);
  border-radius: var(--input-border-radius);
  margin-top: var(--input-margin-top);
  font-size: var(--input-font-size);
  font-family: var(--input-font-family);
  padding: var(--input-padding);
}

.section__country-select,
.section__label-select {
  padding: 0 30px 0 16px;
  appearance: none;
}

.section__custom-arrow {
  position: absolute;
  top: 25px;
  right: 2px;
  display: block;
  background-color: #ffffff;
  width: 2em;
  height: 35px;
  pointer-events: none;
}

.section__custom-arrow::before,
.section__custom-arrow::after {
  --size: 0.4em;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section__custom-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid #9d9d9d;
  top: 35%;
}

.section__custom-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid #9d9d9d;
  top: 65%;
}

.section__month-day-year {
  width: var(--group-width);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.section__day-label,
.section__month-label,
.section__year-label {
  width: var(--group-label-width);
  height: var(--group-label-height);
  font-size: var(--label-font-size);
}

.section__month-label {
  position: relative;
}

.section__day-input,
.section__month-select,
.section__year-input {
  width: var(--input-width);
  height: var(--input-height);
  border-width: var(--input-border-width);
  border-radius: var(--input-border-radius);
  margin-top: var(--input-margin-top);
  font-size: var(--input-font-size);
  font-family: var(--input-font-family);
  padding: var(--input-padding);
}

.section__month-select {
  appearance: none;
}

.section__notes-label {
  width: var(--label-width);
  display: flex;
  flex-direction: column;
  font-size: var(--label-font-size);
}

.section__notes-textarea {
  width: var(--input-width);
  height: 60px;
  border-width: var(--input-border-width);
  border-radius: var(--input-border-radius);
  margin-top: var(--input-margin-top);
  font-size: var(--input-font-size);
  font-family: var(--input-font-family);
  padding: 5px 16px 5px 16px;
}

.save-button {
  width: var(--section-width);
  display: flex;
  justify-content: right;
  padding-right: 5px;
}

.save-button button {
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  padding: 10px 24px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*
.save-button button:hover {
  background-color: var(--primary-color-hover);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
*/
.save-button button:disabled {
  font-size: 16px;
  padding: 10px 24px;
  border: none;
  border-radius: 24px;
  background-color: #e4e4e4;
  color: #9d9d9d;
}

@media (min-width: 600px) {
  .section {
    flex-wrap: wrap;
    padding: var(--section-padding);
  }

  .section__country-label {
    width: 20%;
  }

  .section__number-label {
    width: 77.8%;
  }

  .section__label-label,
  .section__year-label {
    display: flex;
    flex-direction: column;
  }

  .section__day-label {
    width: 20%;
  }

  .section__month-label {
    width: 77.8%;
  }

  .save-button {
    padding-right: 1em;
  }
}

@media (min-width: 900px) {
  .main-container,
  .contact-form {
    padding: 30px;
  }

  .section__country-phone,
  .section__month-day-year {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .section__country-phone,
  .section__month-day-year {
    gap: 1em;
  }

  .section__country-label {
    width: 20%;
  }

  .section__number-label {
    width: 70%;
  }

  .section__label-label {
    width: 50%;
  }

  .section__day-label {
    width: 20%;
  }

  .section__month-label {
    width: 70%;
  }

  .section__year-label {
    width: 50%;
  }

  .save-button {
    padding-right: 1.5em;
  }
}

@media (min-width: 1200px) {
  .main-container {
    padding: 40px;
  }

  .section-group {
    flex-direction: row;
    gap: 1em;
  }

  .save-button {
    padding-right: 2em;
  }
}
